name: Publish core on release

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if: endsWith(github.ref, 'an.core')

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Ensure no npm legacy auth
        run: |
          echo '' > ~/.npmrc
          npm config delete //registry.npmjs.org/:_authToken || true
          npm config delete _auth || true

      - name: Show versions
        run: |
          node -v
          npm -v

      - name: Publish core
        working-directory: ./packages/core
        env:
          NODE_AUTH_TOKEN: ""
          NPM_TOKEN: ""
        run: npm publish --access public --provenance